div.box {
    width: 80%;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }
  
div.box_simpan {
  width: 80%;
  height: auto;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.simpan_brg {
  font-size: 12px;
  border: none;
  padding: 1rem;
  width: 20%;
  background-color: var(--clr-primary-3);
  color: white;
  border-radius: 5px;
  float: right;
  margin-bottom: 2%;
}

.fotoProduk {
  border: none;
  margin-right: 30px;
}

.boxfoto {
  float: right;
}