.toko-container{
    width: 100%;
    padding: 1rem 8rem 2rem 4rem;
}

.barang-anda{
    width: 100%;
    padding: 1rem 8rem 2rem 4rem;
}
.barang-kembali{
    width: 100%;
    padding: 1rem 8rem 2rem 4rem;
}
div.box-image{
    width: 340px;
    height: auto;
    padding: 20px;
    /*margin-left: 80px;*/
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.img-profil{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2rem;
    overflow: hidden;
}
div.box-identitas {
    width: 900px;
    height: 450px;
    padding: 20px;
    margin-top: 30px;
    /*margin-left: auto;
    margin-right: auto;*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }
