.kategori{
    width: 100%;
    padding: 1rem 4rem 2rem 4rem;
}

.judul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.judul-title{
    font-size: 3rem;
    font-weight: 700;
}
.judul-link{
    text-decoration: none;
    font-size: 2rem;
    color: black;
    font-weight: 500;
}


.kategori__pill-link{
    text-decoration: none;
}
.kategori__pills{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 4rem;
    text-decoration: none;
}
.kategori__pill{
    background-color: var(--clr-primary-2);
    padding: 1rem 1.5rem 1rem 1rem;
    color: white;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    align-items: center;
    border-radius: 10rem;
}
.kategori__pill-icon{
    background-color: white;
    color: var(--clr-secondary-1);
    border-radius: 10rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
